.main-container
  .title
    .letter1 u
    .letter2 n
    .letter3 o
    .letter4 d
    .letter5 o
    .letter6 s
  .score-upcoming
    .score-container
    .upcoming-container
  .board-container
  .timer-container
    .timer-box-01
    .timer-box-02
    .timer-box-03
%script{:src => "jquery-1.11.1.min.js"}
%script{:src => "jquery.color-2.1.2.min.js"}
%script{:src => "board.js"}
%script{:src => "tile.js"}
%script{:src => "game.js"}
